//- description for recipe

h2 Description
if (recipe.url)
	div
		a(href='#{recipe.url}') See Recipe on Original Website
if (recipe.description.length > 0)
	p #{recipe.description}
else
	p This recipe has no description!
button.btn.btn-primary(data-toggle='popover', title data-content='<div class="edit-desc"><textarea rows="6" cols="10" placeholder="Help improve this recipe by adding a description!">'+recipe.description+'</textarea><button class="btn btn-block btn-primary update-recipe">Update Description</button></div>', data-original-title="Edit Recipe Description") Edit Description