div(class="navbar navbar-inverse navbar-fixed-top")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand", href="#") Everything Left
			ul(class='nav')
				li
					a(href='/') Home
				li
					a(href='/profile') Profile
			ul.nav.pull-right
				li
					a#modalOpen(href='#myModal', data-toggle='modal') New Tag

include _newtag.jade