div(class="navbar navbar-inverse navbar-fixed-top")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand", href="#") Everything Left
			ul(class='nav')
				li(class='divider-vertical')
				li
					a(href='/') Home
				li(class='divider-vertical')
				li
					a(href='/profile') Profile
				li(class-'divider-vertical')
				li
					form(class='navbar-search pull-right')
						include _multiselect
						button(type='submit', class='btn, btn-success') Search
						