//- navbar

div(class="navbar navbar-inverse navbar-fixed-top")
	div(class='navbar-inner')
		div(class='container-fluid')
			a(class="brand", href="/") Everything Left
			ul(class='nav')
				li
					a(href='/profile') Profile
				li
					a(href='/addrecipe') Add Recipe
				li
					a(href='/search') Search Recipes
			//- DEPRECATED NAVSEARCH
			//- ul.nav
			//- 	form(class='navbar-search form-inline', id='navbar-search')
			//- 		div(class='hidden')
			//- 			include _multiselect
			//- 		div
			//- 			input(type='text', class='inline-block search-query', placeholder='Find a Recipe Fast')
			//- 			button(type='submit', class='btn btn-inverse btn-nav btn-nav-search') Quick Search
			ul.nav.pull-right
				div
					a#modalOpen(href='#myModal', class='btn btn-nav btn-inverse', data-toggle='modal') New Tag
include _newtag.jade
