//- _newtag.jade
block scripts


div(class='modal hide fade', id='myModal', tabindex='-1', role='dialog', aria-labeledby='myModalLabel')
	div(class='modal-header')
		button(type='button', class='close', data-dismiss='modal', aria-hidden='true') x
		h3(id='myModalLabel') Create Tag
	div(class='modal-body')
		h4 Add a new tag to the database!
			form.form-horizontal#tagForm(action='/create/tag', required='required')
				fieldset
					div(class='control-group')
						label(class='control-label') Tag Name:
						div.controls
							input#tagName(type='text', placeholder='Describe your preference!', name='name')
					div(class='control-group')
						label(class='control-label') Category:
						div.controls
							select#tagCategory(data-dismissplacebolder='Categorize your tag!', single, class='chzn-select', name='category')
								option Dietary Restriction
								option Excluded Ingredient
								option Preffered Cuisine

	div(class='modal-footer')
		button(class='btn', data-dismiss='modal', aria-hidden='true') Close
		button.btn.btn-primary.tagPost Save Changes
