//- displays user data

div(class='text-left preference-partial')
	h3 Current Preferences:
	if (preferences.length > 0)
		table.table.table-hover
			tr
				th Tag Name
				th Category
				each preference in preferences
					if (preference.category=='Dietary Restriction')
						tr
							td #{preference.name}
							td Restriction
				each preference in preferences
					if (preference.category=='Preferred Cuisine')
						tr
							td #{preference.name}
							td Cuisine
				each preference in preferences
					if (preference.category=='Favorite Flavor')
						tr
							td #{preference.name}
							td Flavor
	else
		span You have no preferences!