//- _yummly.jade- search results from yummly

h2 Recipes Powered by Yummly
if (yummly != undefined && yummly.length > 0)
	each recipe in yummly
		div.row-fluid.well(name=recipe.id)
			div.span3
				h5 #{recipe.recipeName}
				if recipe.smallImageUrls
					img.img-rounded(src=recipe.smallImageUrls[0])
				else
					img.img-rounded(src='http://upload.wikimedia.org/wikipedia/en/d/d1/Image_not_available.png',style='width: 150px; height:100px')
			div.span9.leftBorder
				h6 Ingredients: 
						each ingredient in recipe.ingredients
							p.inline #{ingredient}, 
				button.pull-right.btn.btn-info(data-toggle='popover', title data-content='<div class="progress progress-striped active"><div class="bar" style="width: 100%></div></div>', data-original-title='Loading Recipe...') See More
else
	p Yummly recipes go here