extends layout

block content
	div(id="container")
		div(id="rightmain") 
			h3 Top Recipes
			include _parrecipe
		div(id="centermain")
			h4 Search for Recipes or Add Your Own!
		div(id="leftmain")
			h3 Newest Editions
			include _parrecipe