//- Login Page

extends layoutNoNav

block scripts
	script(src='javascripts/newrecipe.js')

block content
	div(class='container-fluid hero-unit')
		div(class='row-fluid')
			div(class='span12')
				h1(class='text-center') Welcome to Everything Left
				div(class='text-center') Find the recipes you want for the food you can eat!
				div(id='introCarousel', class='carousel slide well well-dark')
					ol(class='carousel-indicators')
						li(data-target='#introCarousel', data-slide-to=0, class='active')
						li(data-target='#introCarousel', data-slide-to=1)
						li(data-target='#introCarousel', data-slide-to=2)
						li(data-target='#introCarousel', data-slide-to=3)
						li(data-target='#introCarousel', data-slide-to=4)
					div(class='carousel-inner')
						div(class='item active')
							img(src="/images/home.png", alt="",class='introImg')
							div(class='carousel-caption')
								p Everything Left: A site where you can find food based on what you CAN'T eat!
						div(class='item')
							img(src="/images/search.png",class='introImg')
							div(class='carousel-caption')
								p Find recipes by specifying a name, prefered cuisine or flavor, and any dietary restrictions you might have.
						div(class='item')
							img(src="/images/tag.png", alt='',class='introImg')
							div(class='carousel-caption')
								p Add your own tags if not already available
						div(class='item')
							img(src="/images/recipe.png", alt='',class='introImg')
							div(class='carousel-caption')
								p See recipes and what they contain
						div(class='item')
							img(src="/images/new.png", alt='',class='introImg')
							div(class='carousel-caption')
								p Or add your own!
					a(class='carousel-control left', href='#introCarousel', data-slide='prev') &lsaquo;
					a(class='carousel-control right', href='#introCarousel', data-slide='next') &rsaquo;
				br
				div(class='text-center')
					a(href='/auth/google', class='text-center')
						button(class='text-center inline-block btn btn-large btn-google') Sign In With Google
	//- div.hero-unit.span3.offset5#login(style="text-align: center; max-width: 400px; min-width: 250px;")
	//-   h1(style="margin-bottom: 10px;") #{title}
	//-   br
	//-   a(href='/auth/google')
	//-     button.btn.btn-success.btn-large() Sign In with Google
