//- Profile Page

extends layout

block scripts
	script(src='javascripts/username.js')
	script(src='javascripts/profile.js')

block content
	h1(class='text-center page-header') #{name}
	div(class='container-fluid')
		div(class='row-fluid')
			div(class='text-center hero-unit span6')
				include _preferences
				form(id='settings', class='form-inline')
					include _multiselect
					br
					br
					button(class='btn btn-inverse btn-chosen', type='submit') Save Preferences
					div(class='help-block font10 text-left') Selected tags will become your default search parameters. 
						|You can return here to change them at any time or customize individual searches on our search page.
						|Can't find the tag you want? Add one using the button in the top right corner of your screen!
				form(class='form-inline', id='setuser')
					div(class="input-append", id='error-append')
						input(type="text", id="username", placeholder="username", name='username')
						button(type="submit", class='btn btn-inverse') Change Username
						//- div(class="form-actions")
			div(class="favs span5 content-right")
				h2.text-center Your Favorites
					include _recipes
					script(type='text/javascript')
						$('.recipe-header').hide();

