extends layout

block scripts
	script(src='javascripts/username.js')
	script(src='javascripts/profile.js')

block content
	h1(class='text-center') Profile
	//- p Welcome to #{title}

	div(class='text-center hero-unit')
		form(id='settings', class='form-inline')
			div(class='input-append')
				include _multiselect
				button(class='btn btn-inverse btn-chosen', type='submit') Save Preferences
			span(class='help-block') Selected tags will become your default search parameters.
		form(class='form-inline', id='setuser')
			div(class="input-append", id='error-append')
				input(type="text", id="username", placeholder="username", name='username')
				button(type="submit", class='btn btn-inverse') Change Username
				//- div(class="form-actions")
	div(class="favs")
		h2 Favorites
		if (favorites.length > 0)
				each recipe in favorites
					include _parrecipe
			else
				p You have no favorites yet!

	//- div(id="my_ops")
	//- 	div(value=preferences, id="preferences")
	//- 		each pref, i in preferences
	//- 			| #{pref}
	//- 	input(type="button", value="Change Settings")

	//- div(id="liked")
	//- 	each fav, i in favorites
	//- 		| #{fav}