extends layout

block content
	h1 Your Profile
	p Welcome to #{title}

	div()
		form(id='settings', class='form-inline')
			include _multiselect

	div(id="my_ops")
		div(value=preferences, id="preferences")
			each pref, i in preferences
				| #{pref}
		input(type="button", value="Change Settings")

	div(id="liked")
		each fav, i in favorites
			| #{fav}