//- Profile Page

extends layout

block scripts
	script(src='javascripts/username.js')
	script(src='javascripts/profile.js')

block content
	h1(class='text-center page-header') #{name}
	div(class='container-fluid')
		div(class='row-fluid')
			div(class='text-center hero-unit span5')
				div(class='text-left')
					h3 Dietary Restrictions
					if (preferences.length > 0)
						each preference in preferences
							if (preference.category=='Dietary Restriction')
								div #{preference.name}
					else
						| [none]
					h3 Cuisines
					if (preferences.length > 0)
						each preference in preferences
							if (preference.category=='Preferred Cuisine')
								div #{preference.name}
					else
						| [none]
					h3 Flavors
					if (preferences.length > 0)
						each preference in preferences
							if (preference.category=='Favorite Flavor')
								div #{preference.name}
					else
						| [none]
				br
				br
				form(id='settings', class='form-inline')
					include _multiselect
					button(class='btn btn-inverse btn-chosen', type='submit') Save Preferences
					span(class='help-block') Selected tags will become your default search parameters. You can return here to change them at any time or customize individual searches on our search page.
				form(class='form-inline', id='setuser')
					div(class="input-append", id='error-append')
						input(type="text", id="username", placeholder="username", name='username')
						button(type="submit", class='btn btn-inverse') Change Username
						//- div(class="form-actions")
			div(class="favs span5 content-right")
				h2.text-center Favorites
					include _recipes
					script(type='text/javascript')
						$('.recipe-header').hide();

