//- Page for recipe viewing and editing

extends layout

block content
	div(class='id-holder', id="container", name=recipe.id)
		div(class='page-header text-center')
			h1(style='padding-left: 100px;') #{recipe.name}
		div(class="float-one well",id='errorAppendDiv')
			div.well.well-dark.image-div
				include _recipe-image.jade
			div
				h2 Tags:
					div(class='inline-block', id='recipeTags')
						include _recipetags
						button(class='btn btn-pad btn-inverse') Change Tags
			div
				h2 Popularity:
					div(class='inline-block', id='favBadge')
						include _fav_badge
					input(id="fav", type='button', recipeId='#{recipe._id}', class="inline-block btn btn-large btn-success", value='Favorite')
		div(class="float-one content-right")
			.container.row-fluid
				.container.span8.padded
					table.table.table-striped(class='ingredient-table', style='min-width: 300px; overflow: auto')
						tr
							h4 Ingredients
							th 
						each ingredient in ingredients
							tr
								td #{ingredient}
		hr
		div(class="float-one description well")
			include _description.jade
		
block scripts
	script(src='/javascripts/newrecipe.js', type="text/javascript")
	script(type='text/javascript')
		$('option').each(function(index,Element){
			for (var i = 0; i < recipe.tags.length; i++) {
				if (recipe.tags[i].name==$(this).val()){
					$(this).attr('selected', 'selected');
				}
			};
		});
