extends layout

block content
	div(class='container')
		div(class='fluid-row')
			form(class='form-horizontal', id='searchpage-search')
				fieldset
					legend Search Yummly for Recipes
						div.control-group
							label.control-label Name
							div(class='controls')
									input(type='text', placeholder='What do you want to make?')
						div.control-group
							label.control-label Tags
							div.controls(style='')
								include _multiselect.jade
						div.control-group
							div.controls
								button.btn.btn-large.searchButton Search
	div.row-fluid
		div.container.span5.yummly.padded
			include _yummly.jade
		div.container.span5
			include _recipes.jade