//- Search page

extends layout

block content
	div(class='container')
		div(class='fluid-row')
			form(class='form-horizontal', id='searchpage-search')
				fieldset
					legend Search for Recipes
						div.control-group
							label.control-label Specific Food
							div(class='controls')
									input(type='text', placeholder='What do you want to make?')
						div.control-group
							label.control-label Categories
							div.controls(style='')
								include _multiselect
						div.control-group
							div.controls
								button.btn.btn-inverse.btn-large.searchButton Search
	div.row-fluid
		div.container.span5.yummly.padded
			include _yummly.jade
		div.container.offset1.span5.content-right(id='databaseRecipes')
			include _recipes.jade
