//- Search page

extends layout

block content
	div(class='container-fluid')
		div(class='row-fluid')
			div(class='span12')
				div(class= 'page-header') 
					h1(class='text-center') Search for Recipes
				form(class='form-horizontal left-margin well', id='searchpage-search')
					fieldset
						div.control-group
							label.control-label Specific Food
							div(class='controls')
								input(type='text', placeholder='What do you want to make?')
						div.control-group
							label.control-label Search Tags
							div.controls(style='')
								include _multiselect
								div(class='help-block font10') Can't find the tag you want? Add one using the button in the top right corner of your screen!
						div.control-group
							div.controls
								button.btn.btn-inverse.btn-large.searchButton Search
						div.search-alert
		div.row-fluid
			div.container.span5.yummly.padded
				include _yummly.jade
			div.container.span5.offset1.content-right(id='databaseRecipes')
				include _recipes.jade
