body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul li { 
	list-style: disc;
	margin-left: 1em;
	text-align: left;
}

ol li { 
	margin-left: 1.25em;
}

.inline-block {
  display: inline-block;
}

.btn-google {
	background: #cc3732;
	color: white;
}

.btn-google:hover {
	background: #dd4843;
	color: white;
}

#def_box, #container{
	margin-left: auto;
	margin-right: auto;
}

#rightmain, #centermain, #leftmain{
	display: inline-block;
	vertical-align: top;
}

.modal-body {
	min-height: 250px;
	padding: 50px;
}

.form-horizontal {
	padding-top: 50px;
}

.success-alert {
	background-color: #4CBB17;
	color: #003300;
}

.bad-alert {
	background-color: #FF3333;
	color: #660000; /*BLOODRED*/
}

.nav-search {
	margin-left: 30px;
	margin-right: 20px;
}

.btn-nav {
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	border-radius: 5px;
	border-width: 0px;
}

.btn-chosen {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar {
	min-width: 1000px;
}