body {
  padding: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul li { 
	list-style: disc;
	margin-left: 1em;
	text-align: left;
}

ol li { 
	margin-left: 1.25em;
}

.inline-block {
  display: inline-block;
}

.btn-google {
	background: #cc3732;
	color: white;
}

.btn-google:hover {
	background: #dd4843;
	color: white;
}

/*index.jade*/
#container{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
	width:100%;
}

#rightmain, #centermain, #leftmain{
	display: inline-block;
	vertical-align: top;
	width:30%;
	padding: 0px 20px 20px 20px;
	margin-right: 2px;
	margin-left: 2px;
}

/*_parrecipe.jade*/
.img_display, .name_display{
	float:left;
	padding-right: 20px;
}

.modal-body {
	min-height: 250px;
	padding: 50px;
}

.form-horizontal {
	padding-top: 50px;
}

.success-alert {
	background-color: #4CBB17;
	color: #003300;
}

.bad-alert {
	background-color: #FF3333;
	color: #660000; /*BLOODRED*/
}

.nav-search {
	margin-left: 30px;
	margin-right: 20px;
}

.btn-nav {
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	border-radius: 5px;
	border-width: 0px;
}

.btn-chosen {
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
	margin-left: 10px;
}

.navbar {
	min-width: 1000px;
}

.search-query {
	margin-right: 10px;
	color: #000000!important;
	background-color: #FFFFFF!important;
	vertical-align: top!important;
}

.outlined {
	border-width: 5px;
	border-style: solid;
	padding: 10px;
	margin-top: 5px;
	border-radius: 3px;
}

.leftBorder {
	border-left-style: solid;
	border-left-width: 2px;
	padding: 10px;
}

.inline {
	display: inline;
}

.popover {
	min-width: 500px;
	min-height: 300px;	
}

table.table {
	height: 200px !important;
	overflow: scroll;
}